<form id="upgrade-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST"  action="">
    <div class="form-group">
        <label for="upgrade_ftp" class="control-label col-xs-12 col-sm-2">FTP Address:</label>
        <div class="col-xs-12 col-sm-7">
            <input type="text" class="form-control" id="upgrade_ftp" name="upgrade_ftp" placeholder="FTP Address" value=""  data-rule="required;">
        </div>
    </div>
 
    <div class="form-group hidden layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">commit</button>
            <button type="reset" class="btn btn-default btn-embossed">reset</button>
        </div>
    </div>
</form>


    
